.menu {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

h1 {
  font-size: 14rem;
  margin: 0;
}

.link {
  text-decoration: none;
}

.small-heading {
  font-size: 5rem;
}

.favandlog {
  display: flex;
}

p {
  color: #EEDB00;
  margin-left: 20px;
}
