*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  background-image: url('../../images/swapi-stars.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 3rem;
  letter-spacing: 50px;
  text-align: right;
  margin: 0px;
}

.yellow-text {
  color: #EEDB00;
}
