*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  background-image: url('../../images/swapi-stars.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 14rem;
  margin: 0;
}

.yellow-text {
  color: #EEDB00;
}
